/* [CONTAINER] */
#tableWrap {
  display: grid;
  grid-template-columns: auto auto auto;
}

/* [CELLS] */
div.cell {
  padding: 10px;
}

/* [HEADER] */
div.head {
  background: #0085ff;
  color: #fff;
  font-weight: bold;
}

/* [ALTERNATE ROWS] */
div.alt {
  background: #f2f2f2;
}

/* [RESPONSIVE TRANSFORM] */
/* NO CELLS - BREAK INTO SINGLE ROW */
@media screen and (max-width: 600px) {
  #tableWrap {
    grid-template-columns: 100%;
  }
  div.cell {
    padding: 5px;
  }
}

img {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
